.ui-button{
    font-size: 1.5rem;
    color: #282c34;
    border: none;
    cursor: pointer;
    background-color: lightskyblue;
    font-size: 1.5rem;
    width: 20rem;
    border-radius: 15px;
    padding: 0.5rem;
  }